# Google Maps API Key
# Dapatkan di https://console.cloud.google.com/
# Aktifkan: Maps JavaScript API, Directions API
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here

APP_NAME=TanaOgi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=sqlite
BACKEND_URL=http://127.0.0.1:8000
